<form action="/changeProp" method="POST">
  <input type="radio" name="goodOrEvil_RB" value="good"> Good
  <input type="radio" name="goodOrEvil_RB" value="evil"> Evil
  <button type="submit">Submit</button>
</form>